In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb

In [2]:
#Importing data
train_data=pd.read_csv("train_data.csv",nrows=1000000)
train_labels=pd.read_csv("train_labels.csv")

In [3]:
print(train_data.shape)
print(train_labels.shape)

(1000000, 190)
(458913, 2)

In [5]:
train_data.head(10)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827
5,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-08-04,0.945964,0.001746,0.007863,1.005006,0.004220,0.110946,0.009857,0.009866,...,NaN,NaN,NaN,0.001924,0.008598,0.004529,NaN,0.000674,0.002223,0.002884
6,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-09-18,0.940705,0.002183,0.018859,1.008024,0.004509,0.103329,0.006603,0.000783,...,NaN,NaN,NaN,0.001336,0.004361,0.009387,NaN,0.007727,0.007661,0.002225
7,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-10-08,0.914767,0.003029,0.014324,1.000242,0.000263,0.108115,0.009527,0.007836,...,NaN,NaN,NaN,0.002397,0.008452,0.005553,NaN,0.001831,0.009616,0.007385
8,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-11-20,0.950845,0.009896,0.016888,1.003995,0.001789,0.102792,0.002519,0.009817,...,NaN,NaN,NaN,0.009742,0.003968,0.007945,NaN,0.008722,0.004369,0.000995
9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-12-04,0.868580,0.001082,0.001930,1.007504,0.001772,0.100470,0.004626,0.006073,...,NaN,NaN,NaN,0.003611,0.009607,0.007266,NaN,0.008763,0.004753,0.009068

In [6]:
train_labels.head(10)

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0
5  000084e5023181993c2e1b665ac88dbb1ce9ef621ec537...       0
6  000098081fde4fd64bc4d503a5d6f86a0aedc425c96f52...       0
7  0000d17a1447b25a01e42e1ac56b091bb7cbb06317be4c...       0
8  0000f99513770170a1aba690daeeb8a96da4a39f11fc27...       1
9  00013181a0c5fc8f1ea38cd2b90fe8ad2fa8cad9d9f13e...       1

In [7]:
#Column wise concatenation
train_data=train_data.merge(train_labels,on="customer_ID")
train_data.to_csv("Train_1Mil.csv")

In [29]:
data_copy = train_data.copy()
data_copy["S_2"] = pd.to_datetime(data_copy["S_2"])
data_copy["YYYY-MM"] = data_copy["S_2"].dt.to_period('M')
data_copy["YYYY-MM"]
data_copy.to_csv("MonthYearFull.csv")

In [42]:
data_copy["YYYY-MM"].value_counts()
list(train_data.columns)

['customer_ID',
 'S_2',
 'P_2',
 'D_39',
 'B_1',
 'B_2',
 'R_1',
 'S_3',
 'D_41',
 'B_3',
 'D_42',
 'D_43',
 'D_44',
 'B_4',
 'D_45',
 'B_5',
 'R_2',
 'D_46',
 'D_47',
 'D_48',
 'D_49',
 'B_6',
 'B_7',
 'B_8',
 'D_50',
 'D_51',
 'B_9',
 'R_3',
 'D_52',
 'P_3',
 'B_10',
 'D_53',
 'S_5',
 'B_11',
 'S_6',
 'D_54',
 'R_4',
 'S_7',
 'B_12',
 'S_8',
 'D_55',
 'D_56',
 'B_13',
 'R_5',
 'D_58',
 'S_9',
 'B_14',
 'D_59',
 'D_60',
 'D_61',
 'B_15',
 'S_11',
 'D_62',
 'D_63',
 'D_64',
 'D_65',
 'B_16',
 'B_17',
 'B_18',
 'B_19',
 'D_66',
 'B_20',
 'D_68',
 'S_12',
 'R_6',
 'S_13',
 'B_21',
 'D_69',
 'B_22',
 'D_70',
 'D_71',
 'D_72',
 'S_15',
 'B_23',
 'D_73',
 'P_4',
 'D_74',
 'D_75',
 'D_76',
 'B_24',
 'R_7',
 'D_77',
 'B_25',
 'B_26',
 'D_78',
 'D_79',
 'R_8',
 'R_9',
 'S_16',
 'D_80',
 'R_10',
 'R_11',
 'B_27',
 'D_81',
 'D_82',
 'S_17',
 'R_12',
 'B_28',
 'R_13',
 'D_83',
 'R_14',
 'R_15',
 'D_84',
 'R_16',
 'B_29',
 'B_30',
 'S_18',
 'D_86',
 'D_87',
 'R_17',
 'R_18',
 'D_88',
 'B_31',
 'S_19',
 'R_19',
 'B_32',
 'S_20',
 'R_20',
 'R_21',
 'B_33',
 'D_89',
 'R_22',
 'R_23',
 'D_91',
 'D_92',
 'D_93',
 'D_94',
 'R_24',
 'R_25',
 'D_96',
 'S_22',
 'S_23',
 'S_24',
 'S_25',
 'S_26',
 'D_102',
 'D_103',
 'D_104',
 'D_105',
 'D_106',
 'D_107',
 'B_36',
 'B_37',
 'R_26',
 'R_27',
 'B_38',
 'D_108',
 'D_109',
 'D_110',
 'D_111',
 'B_39',
 'D_112',
 'B_40',
 'S_27',
 'D_113',
 'D_114',
 'D_115',
 'D_116',
 'D_117',
 'D_118',
 'D_119',
 'D_120',
 'D_121',
 'D_122',
 'D_123',
 'D_124',
 'D_125',
 'D_126',
 'D_127',
 'D_128',
 'D_129',
 'B_41',
 'B_42',
 'D_130',
 'D_131',
 'D_132',
 'D_133',
 'R_28',
 'D_134',
 'D_135',
 'D_136',
 'D_137',
 'D_138',
 'D_139',
 'D_140',
 'D_141',
 'D_142',
 'D_143',
 'D_144',
 'D_145',
 'target']

In [35]:
data_copy.head(10)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target,YYYY-MM
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0,2017-03
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217,0,2017-04
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603,0,2017-05
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600,0,2017-06
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827,0,2017-07
5,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-08-04,0.945964,0.001746,0.007863,1.005006,0.004220,0.110946,0.009857,0.009866,...,NaN,0.001924,0.008598,0.004529,NaN,0.000674,0.002223,0.002884,0,2017-08
6,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-09-18,0.940705,0.002183,0.018859,1.008024,0.004509,0.103329,0.006603,0.000783,...,NaN,0.001336,0.004361,0.009387,NaN,0.007727,0.007661,0.002225,0,2017-09
7,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-10-08,0.914767,0.003029,0.014324,1.000242,0.000263,0.108115,0.009527,0.007836,...,NaN,0.002397,0.008452,0.005553,NaN,0.001831,0.009616,0.007385,0,2017-10
8,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-11-20,0.950845,0.009896,0.016888,1.003995,0.001789,0.102792,0.002519,0.009817,...,NaN,0.009742,0.003968,0.007945,NaN,0.008722,0.004369,0.000995,0,2017-11
9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-12-04,0.868580,0.001082,0.001930,1.007504,0.001772,0.100470,0.004626,0.006073,...,NaN,0.003611,0.009607,0.007266,NaN,0.008763,0.004753,0.009068,0,2017-12

In [41]:
data_copy.groupby("YYYY-MM")["target"].agg('sum')/data_copy["YYYY-MM"].value_counts()

2017-03    0.233042
2017-04    0.237629
2017-05    0.239208
2017-06    0.243443
2017-07    0.246954
2017-08    0.250049
2017-09    0.252235
2017-10    0.254404
2017-11    0.255907
2017-12    0.257892
2018-01    0.258863
2018-02    0.259391
2018-03    0.260829
Freq: M, dtype: float64

In [40]:
len(data_copy.groupby("YYYY-MM"))

13

In [28]:
DR1 = sum(data_copy['target'])/len(data_copy["YYYY-MM"])
DR1
sum(data_copy.groupby("YYYY-MM")['target'])

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [8]:
#one-hot encoding and dropping variables
#copying dataframe
encoded_data=train_data.copy()

#one hot encoding D_63,D_64 features
one_enc=pd.get_dummies(encoded_data["D_63"])
encoded_data=encoded_data.join(one_enc)

one_enc2=pd.get_dummies(encoded_data["D_64"])
encoded_data=encoded_data.join(one_enc2)

#dropping variables
encoded_data = encoded_data.drop("D_63",axis=1)
encoded_data = encoded_data.drop("D_64",axis=1)

In [20]:
encoded_data.to_csv("Train_1MilOnehot.csv")

In [19]:
print(encoded_data.shape)
encoded_data.head(15)

(1000000, 199)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,CL,CO,CR,XL,XM,XZ,-1,O,R,U
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,0,0,1,0,0,0,0,1,0,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,0,0,1,0,0,0,0,1,0,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,0,0,1,0,0,0,0,1,0,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,0,0,1,0,0,0,0,1,0,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,0,0,1,0,0,0,0,1,0,0
5,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-08-04,0.945964,0.001746,0.007863,1.005006,0.004220,0.110946,0.009857,0.009866,...,0,0,1,0,0,0,0,1,0,0
6,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-09-18,0.940705,0.002183,0.018859,1.008024,0.004509,0.103329,0.006603,0.000783,...,0,0,1,0,0,0,0,1,0,0
7,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-10-08,0.914767,0.003029,0.014324,1.000242,0.000263,0.108115,0.009527,0.007836,...,0,0,1,0,0,0,0,1,0,0
8,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-11-20,0.950845,0.009896,0.016888,1.003995,0.001789,0.102792,0.002519,0.009817,...,0,0,1,0,0,0,0,1,0,0
9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-12-04,0.868580,0.001082,0.001930,1.007504,0.001772,0.100470,0.004626,0.006073,...,0,0,1,0,0,0,0,1,0,0
10,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-01-11,0.909811,0.005715,0.002829,1.004798,0.008175,0.098882,0.001853,0.003238,...,0,0,1,0,0,0,0,1,0,0
11,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-02-21,0.937349,0.002425,0.019837,1.008307,0.000607,0.102985,0.006174,0.007454,...,0,0,1,0,0,0,0,1,0,0
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.934745,0.009119,0.009382,1.007647,0.006104,0.135021,0.001604,0.007174,...,0,0,1,0,0,0,0,1,0,0
13,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-03-01,0.929122,0.382790,0.025782,1.002647,0.005515,0.089799,0.001479,0.005830,...,0,1,0,0,0,0,0,1,0,0
14,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2017-04-16,0.918431,0.002224,0.006806,1.008186,0.003287,0.095966,0.007831,0.000861,...,0,1,0,0,0,0,0,1,0,0

In [10]:
train_data1 = encoded_data[(encoded_data['S_2'] >= '2017-05') & (encoded_data['S_2'] <= '2018-01')]
test_data1 = encoded_data[(encoded_data['S_2'] >= '2017-03-01') & (encoded_data['S_2'] <= '2017-04')]
test_data2 = encoded_data[(encoded_data['S_2'] >= '2018-02') & (encoded_data['S_2'] <= '2018-03') ]

In [12]:
print(train_data1.shape)
print(test_data1.shape)
print(test_data2.shape)

(610419, 199)
(71472, 199)
(81861, 199)

In [13]:
train_data1.to_csv("Train_main_1Mil.csv")
test_data1.to_csv("Test1_1Mil1.csv")
test_data2.to_csv("Test2_1Mil1.csv")

In [18]:
train_data1["S_2"].value_counts()

2017-11-18    4121
2017-08-19    3934
2017-12-16    3900
2017-09-16    3830
2017-10-21    3826
              ...
2017-10-08    1433
2017-05-07    1416
2017-05-14    1408
2017-08-13    1407
2017-06-18    1404
Name: S_2, Length: 245, dtype: int64